.Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/authbg.jpg');
}

.Auth-form {
    width: 420px;
    box-shadow: rgb(33.3 26.3 23 / 86%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: #F0E8DB;
}

.Auth-form-home {
    box-shadow: rgb(33.3 26.3 23 / 36%) 1px 1px 10px;
    padding: 30px 12px 20px 12px;
    border-radius: 8px;
    background-color: #F3F3F3;
}

.Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
}

.Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: #55433B;
    font-weight: 800;
}

.form-control {
    background-color: #F3F3F3;
}

a {
    color: #000000;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: #55433B;
}