.userInfo {
  width: 600px;
  height: 500px;
  box-shadow: rgb(33.3 26.3 23 / 86%) 1px 1px 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
  margin: 10px 10px 20px;
  letter-spacing: 0.5px;
}

.userFeed {
  width: 600px;
  height: 500px;
  box-shadow: rgb(33.3 26.3 23 / 86%) 1px 1px 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
  margin: 10px 10px;
  letter-spacing: 0.5px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 50px;
}

h1 {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-family: "Pacifico";
  margin-top: 20px;
}

h2 {
  display: flex;
  justify-content: center;
}
